services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      target: runtime     
    image: flask-backend
    container_name: flask-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres_db
    restart: always       

  frontend:
    build: ./frontend
    image: flask-frontend
    container_name: flask-frontend
    ports:
      - "9090:80"
    depends_on:
      - backend

volumes:
  postgres_data:
