<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CI/CD Flask Project</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <div class="container">
    <h1> CI/CD Flask Project</h1>
    <p class="subtitle">Docker • Jenkins • CI/CD Pipeline</p>

    <div class="card">
      <h2>Application Health</h2>
      <p id="status">Checking backend...</p>
    </div>

    <footer>
      <p>Deployed via automated CI/CD pipeline</p>
    </footer>
  </div>

  <script src="/static/js/app.js"></script>
</body>
</html>
